### Task 1:

#### Create A Database Connection Using The MySQL-Connector-Python

In [29]:
import mysql.connector as connector

uname=input('Please enter the database instance username... ')
pword=input('Please enter the database instance matching password... ')

conn = connector.connect(user=uname, password=pword, host='127.0.0.1')

if conn.is_connected():
    print('Connection to the database has been established!!')

Connection to the database has been established!!

### Creating the cursor object

In [30]:
# Creating the cursor object

cursor = conn.cursor()

### Showing The Databases

In [31]:
# Showing the database list

show_db_query = "SHOW DATABASES;" 
cursor.execute(show_db_query)
results = cursor.fetchall()
for result in results:
    print(result)

('billingdb',)
('coffee_shop_products',)
('global_superstore_dwh_snowflake schema',)
('global_superstore_dwh_star',)
('information_schema',)
('little_lemon_db',)
('littlelemondb',)
('littlelemondm',)
('mangata_gallo',)
('mg_schema',)
('mysql',)
('mysql_learner',)
('performance_schema',)
('pwpdatasets',)
('sakila',)
('sys',)
('testdb',)
('testdb2',)
('testdb3',)
('world',)

### Task2:

#### Showing The Tables In The littlelemondm Database

In [32]:
# Use the littlelemondm database

use_db_query = "USE littlelemondm;" 
cursor.execute(use_db_query)

In [33]:
# Show the tables in littlelemondm

show_tables_query = """SHOW TABLES;""" 
cursor.execute(show_tables_query)
results = cursor.fetchall()
for result in results:
    print(result)

('customer',)
('delivery_status',)
('department',)
('menu',)
('menuitems',)
('orders',)
('ordersview',)
('position',)
('staff',)

### Task 3:

#### Querying Table Joins

In [35]:
# Query with table JOIN

query_tbl_join = """
SELECT CONCAT(c.first_name, ' ', c.last_name) AS Full_Name,
 c.phone, c.email, o.Total_Cost
FROM Orders AS o
INNER JOIN customer AS c
ON o.customer_id=c.customer_id
WHERE o.Total_Cost > 60;
"""
cursor.execute(query_tbl_join)
results = cursor.fetchall()
print(cursor.column_names)
for result in results:
    print(result)

('Full_Name', 'phone', 'email', 'Total_Cost')